workflows/notion-documents-into-pinecone-vector-store-and-answer-queries-via-google-gemini/workflow.json
{
  "name": "Prod: Notion to Vector Store - Dimension 768",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-448, -96],
      "id": "7f3e770b-1ec7-4531-b59d-cdc53b905d6b",
      "name": "When chat message received",
      "webhookId": "486c69b1-3e1f-41bc-b684-60007baee4b2"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant,\nIn case of user ask for document library please call the Pinecone Vector Store  Node and response back, ensure that response is well formated"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [-192, -96],
      "id": "c2cff055-f257-4c4f-bfa9-272082671b2a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-336, 128],
      "id": "3b7e405f-26e2-4a40-9bed-0549a6171b1c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "<<GOOGLE_PALM_CREDENTIAL_ID>>",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [-192, 128],
      "id": "29acb888-1295-4c43-a1b8-c9dbb6a51ca9",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "<<REDIS_CREDENTIAL_ID>>",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=you need to read the given index and answer\nuser question {{ $json.chatInput }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "document-library",
          "mode": "list",
          "cachedResultName": "document-library"
        },
        "topK": 8,
        "options": {
          "pineconeNamespace": "doc-lib"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [-64, 128],
      "id": "1ab36268-0801-4a04-bab9-9de3108b25b1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "<<PINECONE_CREDENTIAL_ID>>",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [160, 288],
      "id": "5bf35298-416c-479a-8719-4805da5b3a61",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "<<GOOGLE_PALM_CREDENTIAL_ID>>",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3bec026e-d7ac-4ce3-b50f-47c70a5d3e06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "<<INSTANCE_ID>>"
  },
  "id": "A8iTXPTGYG3Jm6j6",
  "tags": [
    {
      "name": "Production",
      "id": "t1QwyAfHlZspf2tO",
      "updatedAt": "2026-01-07T07:25:58.431Z",
      "createdAt": "2026-01-07T07:25:58.431Z"
    }
  ]
}
